
.section {
    display: flex;
    
}
.izquierda {
    display: flex;
    justify-content: left;
    flex-direction: column;
    gap: 15px;
    
    
}
.izquierda div{
    border: 2px solid pink;
    border-radius: 3px;
}

.derecha {
    flex-grow: 3;
    border: 2px solid cyan;
    border-radius: 3px;
    text-align: center;
  
}
@media (max-width:640px) {
    .izquierda {
        flex-direction:row;
        display: flex;
        align-content: flex-end;
    }
  
    .section{
        display: flex;
        flex-direction: column-reverse;
    }
}